@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',
    sans-serif;
}

:root {


  /* Colors */
  --light-blue: #5372F0;
  --dark-blue: #2c52ed;
  --black: #000000;
  --light-grey: #6C757D;
  --border-grey: #bfbfbf;
  --dark-grey: #5f666d;


  /* Font Size */
  --fs-1: 33px;
  --fs-2: 25px;
  --fs-3: 18px;
  --fs-4: 17px;

  --fw-1: 900;
  --fw-2: 800;
  --fw-3: 700;
  --fw-4: 600;
  --fw-5: 500;
  --fw-4: 400;
  --fw-3: 400;

  --radius-1: 10px;
  --radius-2: 5px
}

.body {
  background-color: var(--light-blue);
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.wrapper {
  background-color: white;
  width: 440px;
  height: max-content;
  border-radius: var(--radius-2);
  padding: 5px 0px 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.header {
  padding: 10px 20px;
  border-bottom: 1px solid var(--border-grey);
}

.header h1 {
  font-size: var(--fs-2);
  font-weight: var(--fw-5);
}


.content {
  padding: 20px 20px 0px;
  width: 100%;
}

.content .random_word {
  text-align: center;
  font-size: var(--fs-1);
  font-weight: var(--fw-5);
  letter-spacing: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.content p {
  font-size: var(--fs-3);
  margin-bottom: 10px;
}

.content p b {
  font-weight: var(--fw-5);
}

.content input {
  width: 100%;
  height: 60px;
  border: 1px solid var(--border-grey);
  border-radius: var(--radius-2);
  padding: 0px 20px;
  font-size: var(--fs-3);
  outline: none;
}

.content input:focus {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.content input::placeholder {
  color: #aaa;
}

.content input:focus::placeholder {
  color: #bfbfbf;
}

.button_group {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

button {
  width: 100%;
  text-align: center;
  padding: 15px 0px;
  border-radius: var(--radius-2);
  outline: none;
  border: none;
  cursor: pointer;
  font-size: var(--fs-4);
  transition: all 0.3s ease;
}

.button_group .refresh {
  background-color: var(--light-grey);
  color: #fff;
}

.button_group .refresh:hover {
  background-color: var(--dark-grey);
  color: #fff;
}

.button_group .check_word {
  background-color: var(--light-blue);
  color: #fff;
}

.button_group .check_word:hover {
  background-color: var(--dark-blue);
  color: #fff;
}

@media screen and (max-width: 470px) {
  .wrapper h2 {
    font-size: 22px;
    padding: 13px 20px;
  }

  .wrapper .random_word {
    font-size: 30px;
    letter-spacing: 20px;
    margin-right: -20px;
  }

  .wrapper input {
    height: 55px;
    font-size: 17px;
  }
}